@charset 'utf-8';

.typo {
    font: 300 16px/1.8 'Georgia', 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;

    color: #444443;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
        margin-top: 1.5em;
        margin-bottom: .5em;

        color: #222223;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4,
    h5,
    h6 {
        font-size: 1em;
    }
    h6 {
        font-weight: 500;
    }
    ul,
    ol {
        margin: 0 0 15px;
        li {
            line-height: 1.8;
        }
    }
    ol {
        counter-reset: ol-counter;
    }
    p {
        max-width: 100%; // 避免行内样式的width超出最大宽度
        margin-top: 0;
        margin-bottom: 1em; // 1em够用
    }
    a {
        text-decoration: none;
        word-wrap: break-word;
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
    strong,
    b {
        font-weight: 700;
    }
    em,
    i {
        font-style: italic;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: .2em 0;

        border: none; /* Remove border on IE */
    }
    figure {
        position: relative;

        clear: both;

        min-height: 100px;
        margin: 10px 0 30px;
        padding: 0;

        outline: 0;
        img {
            display: block;

            box-sizing: border-box;
            max-width: 100%;
            margin: auto auto 4px;
        }
        figcaption {
            font-size: 14px;
            font-weight: 400;

            position: relative;
            left: 0;

            width: 100%;
            margin-top: 10px;

            text-align: center;

            color: #888;
            a {
                text-decoration: none;

                color: #888;
            }
        }
    }
    hr {
        display: block;

        margin: 2em 0;

        border: 0;
        border-top: 1px solid #eee;
    }
    blockquote {
        font-size: 1em;
        font-weight: 300;

        position: relative;

        margin: 0 0 30px;
        padding-top: 10px;
        padding-left: 50px;

        color: #aaa;
        border: none; /* reset bootstrap */
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            font-family: Georgia,'Times New Roman',Times,serif;
            font-size: 60px;

            position: absolute;
            top: -25px;
            left: 10px;

            content: '\201C';

            color: #ddd;
        }
    }
    code,
    tt {
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: .8em;

        padding: 2px 4px;

        word-wrap: break-word;

        color: #808080;
        // border: 1px solid #dadada;
        border-radius: 3px;
        background-color: #eee;
    }
    pre {
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: .96em;
        line-height: 1.5;

        overflow: auto;

        margin: 1.64em 0;
        padding: 15px;

        color: #4c4c4c;
        border: none;
        background-color: #f9f9f7;
        code,
        tt {
            padding: 0;

            color: #4c4c4c;
            border: none;
            background: none;
        }
    }
    table {
        font-size: .96em;

        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1.5em;

        border-spacing: 0;
        border-collapse: collapse;
        th,
        td {
            padding: 4px 8px 4px 10px;

            text-align: left;

            border: 1px solid #dadada;
        }
        th {
            font-weight: 400;
            font-style: normal;

            background: #f1f1f1;
        }
        td {
            vertical-align: top;
        }
        pre {
            margin: 0;
            padding: 0;

            border: none;
            background: none;
        }
    }
    iframe {
        display: block;

        max-width: 100%;
        margin-bottom: 30px;
    }
    // Firefox 以外，元素没有下划线，需添加
    acronym,
    abbr {
        font-variant: normal;

        cursor: help;

        border-bottom: 1px dotted;
    }
    // 一致的 del 样式
    del {
        text-decoration: line-through;
    }
    // 统一上标和下标
    sub,
    sup {
        font-size: 75%;
        line-height: 0;

        position: relative;
    }
    :root sub,
    :root sup {
        vertical-align: baseline; /* for ie9 and other modern browsers */
    }
    sup {
        top: -.5em;
    }
    sub {
        bottom: -.25em;
    }
    small,
    .small {
        font-size: .5em;
    }
    // 标记，类似于手写的荧光笔的作用
    mark {
        margin: 0 5px;
        padding: 2px 4px;

        border-bottom: 1px solid #ffedce;
        background: #fffdd1;
    }
    @media (max-width:767px) {
        h1 {
            font-size: 1.4em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3,
        h4,
        h5,
        h6 {
            font-size: 1em;
        }
    }
}
